@using Jobzy.Web.ViewModels.Offers
@model List<JobOfferViewModel>


@{
    var offerString = Model.Count == 1 ? $"{Model.Count} Offer" : $"{Model.Count} Offers";
    var jobTitle = Model.Select(x => x.JobTitle).First().ToString();
    var jobId = Model.Select(x => x.JobId).First().ToString();
    var dialogNumber = 1;
}

<div>
    <div class="dashboard-container">
        <partial name="DashboardPartial" />

        <!-- Dashboard Content
        ================================================== -->
        <div class="dashboard-content-container" data-simplebar>
            <div class="dashboard-content-inner">

                <!-- Dashboard Headline -->
                <div class="dashboard-headline">
                    <span class="margin-top-7">Offers for <a asp-action="SingleJob" asp-controller="Job" asp-route-id="@jobId">@jobTitle</a></span>
                </div>

                <!-- Row -->
                <div class="row">

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-supervisor-account"></i>@offerString</h3>
                                <div class="sort-by">
                                    <select class="selectpicker hide-tick">
                                        <option>Highest First</option>
                                        <option>Lowest First</option>
                                        <option>Fastest First</option>
                                    </select>
                                </div>
                            </div>

                            <div class="content">
                                <ul class="dashboard-box-list">
                                    @foreach (var offer in Model)
                                    {
                                        <li>
                                            <!-- Overview -->
                                            <div class="freelancer-overview manage-candidates">
                                                <div class="freelancer-overview-inner">

                                                    <!-- Avatar -->
                                                    <div class="freelancer-avatar">
                                                        <div class="verified-badge"></div>
                                                        <a href="#"><img src="~/images/user-avatar-big-02.jpg" alt=""></a>
                                                    </div>

                                                    <!-- Name -->
                                                    <div class="freelancer-name">
                                                        <h4><a href="#">@offer.FreelancerName <img class="flag" src="~/images/flags/@(offer.FreelancerLocation).svg" alt="@offer.FreelancerLocation" title="@offer.FreelancerLocationToString" data-tippy-placement="top"></a></h4>

                                                        <!-- Details -->
                                                        <span class="freelancer-detail-item"><i class="icon-feather-mail"></i> @offer.FreelancerEmail</span>

                                                        <!-- Rating -->
                                                        <div class="freelancer-rating">
                                                            @if (offer.FreelancerRating == 0)
                                                            {
                                                                <div class="company-not-rated" data-rating="@offer.FreelancerRating">Not rated</div>
                                                            }
                                                            else
                                                            {
                                                                <div class="star-rating" data-rating="@offer.FreelancerRating"></div>
                                                            }
                                                        </div>

                                                        <!-- Bid Details -->
                                                        <ul class="dashboard-task-info bid-info">
                                                            <li><strong>$@offer.FixedPrice</strong><span>Fixed Price</span></li>
                                                            <li><strong>@offer.DeliveryDays Days</strong><span>Delivery Time</span></li>
                                                        </ul>

                                                        <!-- Buttons -->
                                                        <div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
                                                            <a href="#@(dialogNumber++)" class="popup-with-zoom-anim button ripple-effect"><i class="icon-material-outline-check"></i> Accept Offer</a>
                                                            <a href="#small-dialog-2" class="popup-with-zoom-anim button dark ripple-effect"><i class="icon-feather-mail"></i> Send Message</a>
                                                            <a href="#" class="button gray ripple-effect ico" title="Remove Bid" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <partial name="~/Views/Shared/AcceptOfferPartial.cshtml" 
                                                 model="@new JobOfferViewModel 
                                                { 
                                                    DialogNumber = dialogNumber,
                                                    Id = offer.Id,
                                                    JobId = offer.JobId,
                                                    FixedPrice = offer.FixedPrice,
                                                    FreelancerName = offer.FreelancerName,
                                                }"/>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Row / End -->
                <div class="dashboard-footer-spacer" style="padding-top: 162px;"></div>
            </div>
        </div>
        <!-- Dashboard Content / End -->
    </div>
</div>
<!-- Wrapper / End -->

<script>

</script>

