@using Jobzy.Web.ViewModels.Profiles.Freelancers
@using Jobzy.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager
@model FreelancerViewModel

@{
    var user = await userManager.GetUserAsync(this.User);
}

<!-- Titlebar
================================================== -->
<div class="single-page-header freelancer-header" data-background-image="/images/single-freelancer.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="single-page-header-inner">
                    <div class="left-side">
                        <div class="header-image freelancer-avatar"><img src="/images/user-avatar-big-02.jpg" alt=""></div>
                        <div class="header-details">
                            <h3>
                                @Model.Name

                                @if (Model.TagName is null && Model.Id == user.Id)
                                {
                                    <span><a asp-action="Settings" asp-controller="Profile">Add</a> a tag name</span>
                                }
                                else
                                {
                                    <span>@Model.TagName</span>
                                }
                            </h3>
                            <ul>
                                @if (Model.Reviews.Count > 0)
                                {
                                    <li><div class="star-rating" data-rating="@Model.AverageRating"></div></li>
                                }
                                else
                                {
                                    <li><div class="not-rated">Not rated yet</div></li>
                                }
                                <li><img class="flag" src="/images/flags/@(Model.Location).svg" alt=""> @Model.LocationToString</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
    <div class="row">

        <!-- Content -->
        <div class="col-xl-8 col-lg-8 content-right-offset">

            <!-- Page Content -->
            <div class="single-page-section">
                <h3 class="margin-bottom-25">About Me</h3>
                @if (Model.Description is null && Model.Id == user.Id)
                {
                    <p class="not-verified-badge"><a asp-action="Settings" asp-controller="Profile">Add</a> a description.</p>
                }
                else
                {
                    <p>@(Model.Description is not null ? Model.Description : "No description yet.")</p>
                }
            </div>

            <!-- Boxed List -->
            <div class="boxed-list margin-bottom-60">
                @if (Model.Reviews.Count > 0)
                {
                    <div class="boxed-list-headline">
                        <h3><i class="icon-material-outline-thumb-up"></i> @Model.Reviews.Count Reviews</h3>
                    </div>
                    <ul class="boxed-list-ul">

                        @foreach (var review in Model.Reviews)
                        {
                            <li>
                                <div class="boxed-list-item">
                                    <!-- Content -->
                                    <div class="item-content">
                                        <h4>@review.Title <span>@(review.ReviewerName is null ? "Annonymous" : review.ReviewerName)</span></h4>
                                        <div class="item-details margin-top-10">
                                            <div class="star-rating" data-rating="@review.Rating"></div>
                                            <div class="detail-item"><i class="icon-material-outline-date-range"></i> @review.DateFormatted</div>
                                        </div>
                                        <div class="item-description">
                                            <p>@review.Description</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>

                    @if (Model.Id != user.Id)
                    {
                        <div class="centered-button margin-top-35">
                            <a href="#small-dialog" class="popup-with-zoom-anim button button-sliding-icon">Leave a Review <i class="icon-material-outline-arrow-right-alt"></i></a>
                        </div>
                    }
                }
                else
                {
                    <div class="boxed-list-headline">
                        <h3><i class="icon-material-outline-thumb-up"></i> 0 Reviews</h3>
                    </div>
                }
            </div>

            <!-- Boxed List / End -->
            <!-- Boxed List -->
            <div class="boxed-list margin-bottom-60">
                @if (Model.Contracts.Count > 0)
                {
                    <div class="boxed-list-headline">
                        <h3><i class="icon-material-outline-business"></i> Employment History</h3>
                    </div>
                    <ul class="boxed-list-ul">
                        @foreach (var contract in Model.Contracts)
                        {
                            <li>
                                <div class="boxed-list-item">
                                    <!-- Avatar -->
                                    <div class="item-image">
                                        <img src="/images/browse-companies-03.png" alt="">
                                    </div>

                                    <!-- Content -->
                                    <div class="item-content">
                                        <h4>@contract.JobTitle</h4>
                                        <div class="item-details margin-top-7">
                                            <div class="detail-item"><a asp-action="GetEmployer" asp-controller="Profile" asp-route-id="@contract.EmployerId"><i class="icon-material-outline-business"></i> @contract.EmployerName</a></div>
                                            <div class="detail-item"><i class="icon-material-outline-date-range"></i> @contract.CreatedOnFormatted - @contract.CompletedOnFormatted</div>
                                        </div>
                                        <div class="item-description">
                                            <p>@contract.JobDescription</p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </ul>
                }
                else
                {
                    <div class="boxed-list-headline">
                        <h3><i class="icon-material-outline-business"></i>No Employment History</h3>
                    </div>
                }
            </div>
            <!-- Boxed List / End -->

        </div>


        <!-- Sidebar -->
        <div class="col-xl-4 col-lg-4">
            <div class="sidebar-container">

                <!-- Profile Overview -->
                <div class="profile-overview">
                    <div class="overview-item"><strong>@Model.JobsDone</strong><span>Jobs Done</span></div>
                    <div class="overview-item"><strong>@Model.OffersCount</strong><span>Offers Sent</span></div>
                </div>

                @if (Model.Id == user.Id)
                {
                    <a asp-action="Settings" asp-controller="Profile" class="apply-now-button text-white">Settings</a>
                }
                else
                {
                    <a href="#small-dialog" class="apply-now-button popup-with-zoom-anim margin-bottom-50">Make an Offer <i class="icon-material-outline-arrow-right-alt"></i></a>
                }

                <!-- Freelancer Indicators -->
                <div class="sidebar-widget">
                    <div class="freelancer-indicators ">

                        <!-- Indicator -->
                        <div class="indicator">
                            <strong>@Model.JobSuccess%</strong>
                            <div class="indicator-bar" data-indicator-percentage="@Model.JobSuccess"><span></span></div>
                            <span>Job Success</span>
                        </div>

                    </div>
                </div>

                <!-- Widget -->
                <div class="sidebar-widget">
                    <h3>Social Profiles</h3>
                    <div class="freelancer-socials margin-top-25">
                        <ul>
                            <li><a href="#" title="Dribbble" data-tippy-placement="top"><i class="icon-brand-dribbble"></i></a></li>
                            <li><a href="#" title="Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                            <li><a href="#" title="Behance" data-tippy-placement="top"><i class="icon-brand-behance"></i></a></li>
                            <li><a href="#" title="GitHub" data-tippy-placement="top"><i class="icon-brand-github"></i></a></li>

                        </ul>
                    </div>
                </div>

                <!-- Widget -->
                <div class="sidebar-widget">
                    <h3>Skills</h3>
                    <div class="task-tags">
                        <span>iOS</span>
                        <span>Android</span>
                        <span>mobile apps</span>
                        <span>design</span>
                        <span>Python</span>
                        <span>Flask</span>
                        <span>PHP</span>
                        <span>WordPress</span>
                    </div>
                </div>

                <!-- Sidebar Widget -->
                <div class="sidebar-widget">
                    <h3>Bookmark or Share</h3>

                    <!-- Bookmark Button -->
                    <button class="bookmark-button margin-bottom-25">
                        <span class="bookmark-icon"></span>
                        <span class="bookmark-text">Bookmark</span>
                        <span class="bookmarked-text">Bookmarked</span>
                    </button>

                    <!-- Share Buttons -->
                    <div class="share-buttons margin-top-25">
                        <div class="share-buttons-trigger"><i class="icon-feather-share-2"></i></div>
                        <div class="share-buttons-content">
                            <span>Interesting? <strong>Share It!</strong></span>
                            <ul class="share-buttons-icons">
                                <li><a href="#" data-button-color="#3b5998" title="Share on Facebook" data-tippy-placement="top"><i class="icon-brand-facebook-f"></i></a></li>
                                <li><a href="#" data-button-color="#1da1f2" title="Share on Twitter" data-tippy-placement="top"><i class="icon-brand-twitter"></i></a></li>
                                <li><a href="#" data-button-color="#dd4b39" title="Share on Google Plus" data-tippy-placement="top"><i class="icon-brand-google-plus-g"></i></a></li>
                                <li><a href="#" data-button-color="#0077b5" title="Share on LinkedIn" data-tippy-placement="top"><i class="icon-brand-linkedin-in"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


<!-- Spacer -->
<div class="margin-top-15"></div>
<!-- Spacer / End-->

<partial name="/Views/Shared/InviteFreelancerPartial.cshtml" />