@using Jobzy.Data.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager

@model Jobzy.Web.ViewModels.Home.HomeViewModel

@{
    this.ViewData["Title"] = "Home Page";
}

<!-- Intro Banner
================================================== -->
<!-- add class "disable-gradient" to enable consistent background overlay -->
<div class="intro-banner" data-background-image="/images/home-background.jpg">
    <div class="container">

        @if (!this.signInManager.IsSignedIn(this.User))
        {
            <!-- Intro Headline -->
            <div class="row">
                <div class="col-md-12">
                    <div class="banner-headline">
                        <h3>
                            <strong>Hire freelancers or be hired for any job, any time.</strong>
                            <br>
                            <span>Thousands of small businesses use <strong class="color">Jobzy</strong> to turn their ideas into reality.</span>
                        </h3>
                    </div>
                </div>
            </div>
        }

        <!-- Stats -->
        <div class="row">
            <div class="col-md-12">
                <ul class="intro-stats margin-top-45 hide-under-992px">
                    <li>
                        <strong class="counter">@Model.JobsCount</strong>
                        <span>Jobs Posted</span>
                    </li>
                    <li>
                        <strong class="counter">@Model.OffersCount</strong>
                        <span>Offers Made</span>
                    </li>
                    <li>
                        <strong class="counter">@Model.FreelancersCount</strong>
                        <span>Freelancers</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


@if (!this.signInManager.IsSignedIn(this.User))
{
    <!-- Icon Boxes -->
    <div class="section padding-top-65 padding-bottom-65">
        <div class="container">
            <div class="row">

                <div class="col-xl-12">
                    <!-- Section Headline -->
                    <div class="section-headline centered margin-top-0 margin-bottom-5">
                        <h3>How It Works?</h3>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4">
                    <!-- Icon Box -->
                    <div class="icon-box with-line">
                        <!-- Icon -->
                        <div class="icon-box-circle">
                            <div class="icon-box-circle-inner">
                                <i class="icon-line-awesome-lock"></i>
                                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                            </div>
                        </div>
                        <h3>Create an Account</h3>
                        <p>Choose between being a Freelancer or an Employer.</p>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4">
                    <!-- Icon Box -->
                    <div class="icon-box with-line">
                        <!-- Icon -->
                        <div class="icon-box-circle">
                            <div class="icon-box-circle-inner">
                                <i class="icon-material-outline-business-center"></i>
                                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                            </div>
                        </div>
                        <h3>Post a Job or Send an Offer</h3>
                        <p>Depending on the created account, you have the possibility of posting jobs or sending offers.</p>
                    </div>
                </div>

                <div class="col-xl-4 col-md-4">
                    <!-- Icon Box -->
                    <div class="icon-box">
                        <!-- Icon -->
                        <div class="icon-box-circle">
                            <div class="icon-box-circle-inner">
                                <i class="icon-line-awesome-smile-o"></i>
                                <div class="icon-box-check"><i class="icon-material-outline-check"></i></div>
                            </div>
                        </div>
                        <h3>Receive Work or Get Paid</h3>
                        <p>Upon accepting an offer for a job, the platform generates a contract between the two parties, which could be completed or cancelled, based on the work provided.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- Icon Boxes / End -->
    <div class="padding-bottom-10"></div>
}
else
{
    if (this.User.IsInRole("Employer"))
    {
        <!-- Highest Rated Freelancers -->
        <div class="section gray padding-top-65 padding-bottom-70 full-width-carousel-fix">
            <div class="container">
                <div class="row">

                    <div class="col-xl-12">
                        <!-- Section Headline -->
                        <div class="section-headline margin-top-0 margin-bottom-25">
                            <h3>Highest Rated Freelancers</h3>
                            <a asp-action="AllFreelancers" asp-controller="Users" class="headline-link">Browse All Freelancers</a>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="default-slick-carousel freelancers-container freelancers-grid-layout">
                            @foreach (var freelancer in Model.Freelancers)
                            {
                                <!--Freelancer -->
                                <div class="freelancer">

                                    <!-- Overview -->
                                    <div class="freelancer-overview">
                                        <div class="freelancer-overview-inner">

                                            <!-- Avatar -->
                                            <div class="freelancer-avatar">
                                                <a asp-action="Freelancer" asp-controller="Users" asp-route-id="@freelancer.Id" ><img src="@freelancer.ProfileImageUrl" alt=""></a>
                                            </div>

                                            <!-- Name -->
                                            <div class="freelancer-name">
                                                <h4><a asp-action="Freelancer" asp-controller="Users" asp-route-id="@freelancer.Id" >@freelancer.FirstName @freelancer.LastName <img class="flag" src="/images/flags/@(freelancer.Location).svg" alt=""  data-tippy-placement="top"></a></h4>
                                                <span>@freelancer.TagName</span>
                                            </div>

                                            <!-- Rating -->
                                            <div class="freelancer-rating">
                                                <div class="star-rating" data-rating="@freelancer.AverageRating"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Details -->
                                    <div class="freelancer-details">
                                        <div class="freelancer-details-list">
                                            <ul>
                                                <li>Location <strong><i class="icon-material-outline-location-on"></i> @freelancer.LocationToString</strong></li>
                                                <li>Jobs Done <strong>@freelancer.JobsDone</strong></li>
                                                <li>Job Success <strong>@freelancer.JobSuccess%</strong></li>
                                            </ul>
                                        </div>
                                        <a asp-action="Freelancer" asp-controller="Users" asp-route-id="@freelancer.Id" class="button button-sliding-icon ripple-effect">View Profile <i class="icon-material-outline-arrow-right-alt"></i></a>
                                    </div>
                                </div>
                                <!-- Freelancer / End -->
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Highest Rated Freelancers / End-->
    }
    else if (this.User.IsInRole("Freelancer"))
    {
        <!-- Features Jobs -->
        <div class="section gray margin-top-45 padding-top-65 padding-bottom-75">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">

                        <!-- Section Headline -->
                        <div class="section-headline margin-top-0 margin-bottom-35">
                            <h3>Featured Jobs</h3>
                            <a asp-action="All" asp-controller="Jobs" class="headline-link">Browse All Jobs</a>
                        </div>

                        <!-- Jobs Container -->
                        <div class="listings-container compact-list-layout margin-top-35">
                            @foreach (var job in Model.Jobs)
                            {
                                <!-- Job Listing -->
                                <a asp-action="Index" asp-controller="Jobs" asp-route-id="@job.Id" class="job-listing with-apply-button">

                                    <!-- Job Listing Details -->
                                    <div class="job-listing-details">

                                        <!-- Logo -->
                                        <div class="job-listing-company-logo">
                                            <img src="@job.EmployerProfileImageUrl" alt="">
                                        </div>

                                        <!-- Details -->
                                        <div class="job-listing-description">
                                            <h3 class="job-listing-title">@job.Title</h3>

                                            <!-- Job Listing Footer -->
                                            <div class="job-listing-footer">
                                                <ul>
                                                    <li><i class="icon-material-outline-business"></i> @job.EmployerFirstName @job.EmployerLastName</li>
                                                    <li><i class="icon-material-outline-location-on"></i> @job.EmployerLocationToString</li>
                                                    <li><i class="icon-material-outline-business-center"></i> @job.CategoryName</li>
                                                    <li><i class="icon-material-outline-access-time"></i>Posted @job.TimeAgo</li>
                                                </ul>
                                            </div>
                                        </div>

                                        <!-- Apply Button -->
                                        <span class="list-apply-button ripple-effect">Apply Now</span>
                                    </div>
                                </a>
                            }
                        </div>
                        <!-- Jobs Container / End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Featured Jobs / End -->
    }
}
<div class="margin-bottom-100"></div>
<partial name="BigFooterPartial" />