@model Jobzy.Web.ViewModels.Contracts.SingleContractViewModel
<!-- Titlebar
================================================== -->
<div class="single-page-header" data-background-image="/images/single-task.jpg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-baseline">
                    <div class="card shadow p-3 bg-white rounded text-center p-lg-4 ">
                        <div class="salary-type">Contract Status</div>
                        <div class="margin-top-15"></div>

                        <div class="bid-acceptance w-100 @Model.StatusColor">@Model.StatusName</div>
                    </div>

                    <div class="text-center">
                        <h3 class="contract-id-text">Contract <br />@Model.Id.ToUpper()</h3>
                    </div>

                    <div class="card shadow p-3 bg-white rounded text-center p-lg-4">
                        <div class="salary-type">Contract Budget</div>
                        <div class="margin-top-15"></div>
                        <div class="bid-acceptance w-100">$@Model.OfferFixedPrice</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Page Content
================================================== -->
<div class="container">
    @if (Model.StatusToString == "Ongoing" && Model.TimeLeft > 0)
    {
        <div id="countdown" class="countdown blue margin-bottom-70 py-lg-4">
            <span id="days"></span> days
            <span id="hours"></span> hours
            <span id="minutes"></span> minutes
            <span id="seconds"></span> seconds
            left
        </div>
    }

    <div class="row">
        <!-- Content -->
        <div class="col-xl-8 col-lg-8 content-right-offset">

            <!-- Description -->
            <div class="single-page-section">
                <h3 class="margin-bottom-25">Job Description</h3>
                <p>@Model.OfferJobDescription</p>
            </div>

            <!-- Atachments -->
            <div class="single-page-section">
                <h3>Attachments</h3>
                <h5 class="margin-bottom-30 text-secondary font-italic">Download an attachment by right-clicking on the file.</h5>
                <div class="attachments-container">
                    @foreach (var attachment in Model.Attachments)
                    {
                        <a href="@attachment.Url" download="asd.jpg" target="_blank" class="attachment-box ripple-effect"><span>@attachment.ShortenedName</span><i>@attachment.Extension</i></a>
                    }
                </div>
            </div>

            <div class="clearfix"></div>
        </div>


        <!-- Sidebar -->
        <div class="col-xl-4 col-lg-4">
            @if (this.User.IsInRole("Employer") && Model.StatusToString == "Ongoing")
            {
                <!-- Buttons -->
                <div class="bidding-signup d-flex flex-column margin-bottom-10">
                    <a href="#complete-contract" class="button popup-with-zoom-anim apply-now-button ripple-effect move-on-hover full-width margin-bottom-20"><span>Complete</span></a>
                    <a href="#cancel-contract" class="button popup-with-zoom-anim apply-now-button bg-danger ripple-effect move-on-hover full-width"><span>Cancel</span></a>
                </div>
            }
            else if (this.User.IsInRole("Freelancer") && Model.StatusToString == "Ongoing")
            {
                <!-- Buttons -->
                <div class="bidding-signup d-flex flex-column margin-bottom-10">
                    <a href="#upload-work" class="button popup-with-zoom-anim apply-now-button ripple-effect move-on-hover full-width margin-bottom-20"><span>Upload Work</span></a>
                </div>
            }


            <div class="sidebar-container">
                <div class="sidebar-widget">
                    <div class="job-overview">
                        <div class="job-overview-headline">Contract Summary</div>
                        <div class="job-overview-inner">
                            <ul>
                                <li>
                                    <i class="icon-material-outline-date-range"></i>
                                    <span>Created On</span>
                                    <h5>@Model.CreatedOn.ToLongDateString()</h5>
                                </li>

                                <li>
                                    <i class="icon-material-outline-loyalty"></i>
                                    <span>Job Title</span>
                                    <h5>@Model.OfferJobTitle</h5>
                                </li>
                                <li>
                                    <i class="icon-material-outline-business-center"></i>
                                    <span>Employer</span>
                                    <h5>@Model.EmployerFirstName @Model.EmployerLastName</h5>
                                </li>
                                <li>
                                    <i class="icon-material-outline-person-pin"></i>
                                    <span>Freelancer</span>
                                    <h5>@Model.FreelancerFirstName @Model.FreelancerLastName</h5>
                                </li>
                                <li>
                                    <i class="icon-material-outline-access-time"></i>
                                    <span>Delivery Time</span>
                                    <h5>@Model.OfferDeliveryDays days</h5>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Spacer -->
<div class="margin-top-50"></div>
<!-- Spacer / End-->

<div class="padding-bottom-100"></div>

<partial name="BigFooterPartial" />
<partial name="/Views/Shared/CompleteContractPartial.cshtml" model="@Model" />
<partial name="/Views/Shared/CancelContractPartial.cshtml" model="@Model" />
<partial name="/Views/Shared/UploadContractWorkPartial.cshtml" model="@Model" />

@if (Model.StatusToString == "Ongoing")
{
    <script>
    (function () {
        const second = 1000,
            minute = second * 60,
            hour = minute * 60,
            day = hour * 24;

        let contractDeadline = "@Model.ContractDeadline",
            countDown = new Date(contractDeadline).getTime(),
            x = setInterval(function () {

                let now = new Date().getTime(),
                    distance = countDown - now;

                    document.getElementById("days").innerText = Math.floor(distance / (day)),
                    document.getElementById("hours").innerText = Math.floor((distance % (day)) / (hour)),
                    document.getElementById("minutes").innerText = Math.floor((distance % (hour)) / (minute)),
                    document.getElementById("seconds").innerText = Math.floor((distance % (minute)) / second);

                //do something later when date is reached
                if (distance < 0) {
                    document.getElementById("days").innerText = 0,
                    document.getElementById("hours").innerText = 0,
                    document.getElementById("minutes").innerText = 0,
                    document.getElementById("seconds").innerText = 0;

                    clearInterval(x);
                }
                //seconds
            }, 0)
    }());
    </script>
}
