@using Jobzy.Common
@model Jobzy.Web.ViewModels.Users.UserSettingsViewModel
    <!-- Dashboard Container -->
<div class="dashboard-container">

    <partial name="DashboardPartial" />

    <!-- Dashboard Content
        ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Row -->
            <div class="row">
                <form id="update-user-info-form" enctype="multipart/form-data" method="post" asp-action="UpdateProfileInfo" asp-controller="Users">

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-account-circle"></i> My Account</h3>
                            </div>

                            <div class="content with-padding padding-bottom-0">

                                <div class="row">

                                    <div class="col-auto">
                                        <div class="avatar-wrapper" data-tippy-placement="bottom" title="Change Avatar">
                                            <img class="profile-pic" src="@Model.UserViewModel.ProfileImageUrl" alt="" />
                                            <div class="upload-button"></div>
                                            <input name="profilePicture" class="file-upload" type="file" accept="image/*" />
                                        </div>
                                    </div>

                                    <div class="col">
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>First Name</h5>
                                                    <input asp-for="UserInfoInputModel.FirstName" type="text" class="with-border" value="@Model.UserViewModel.FirstName">
                                                    <span asp-validation-for="UserInfoInputModel.FirstName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Last Name</h5>
                                                    <input asp-for="UserInfoInputModel.LastName" type="text" class="with-border" value="@Model.UserViewModel.LastName">
                                                    <span asp-validation-for="UserInfoInputModel.LastName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                @*Account Type*@
                                                <div class="submit-field">
                                                    <h5>Account Type</h5>
                                                    <div class="account-type">
                                                        @if (User.IsInRole("Freelancer"))
                                                        {
                                                            <div>
                                                                <input disabled type="radio" name="account-type-radio" id="freelancer-radio" class="account-type-radio" checked />
                                                                <label for="freelancer-radio"><i class="icon-material-outline-account-circle"></i> Freelancer</label>
                                                            </div>
                                                        }
                                                        @if (User.IsInRole("Employer"))
                                                        {
                                                            <div>
                                                                <input disabled type="radio" name="account-type-radio" id="employer-radio" class="account-type-radio" checked />
                                                                <label for="employer-radio"><i class="icon-material-outline-business-center"></i> Employer</label>
                                                            </div>
                                                        }
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Nationality</h5>
                                                    <div class="input-with-icon-left">
                                                        <select asp-for="UserInfoInputModel.Location" asp-items="Html.GetEnumSelectList<Country>()" class="location-select dropdown with-border" data-size="5">
                                                            <option selected value="@Model.UserViewModel.Location">@Model.UserViewModel.LocationToString</option>
                                                        </select>
                                                        <span asp-validation-for="UserInfoInputModel.Location" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-face"></i> My Profile</h3>
                            </div>

                            <div class="content">
                                <ul class="fields-ul">
                                    <li>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="submit-field">
                                                    <h5>Tagline</h5>
                                                    <input asp-for="UserInfoInputModel.TagName" type="text" class="with-border" placeholder="Add a Tagline" value="@Model.UserViewModel.TagName">
                                                    <span asp-validation-for="UserInfoInputModel.TagName" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-xl-12">
                                                <div class="submit-field">
                                                    <h5>Introduce Yourself</h5>
                                                    <textarea asp-for="UserInfoInputModel.Description" cols="30" placeholder="@(Model.UserViewModel.Description is null ? "Add a Description" : Model.UserViewModel.Description)" rows="5" class="with-border"></textarea>
                                                    <span asp-validation-for="UserInfoInputModel.Description" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </form>

                <!-- Button -->
                <div class="col-xl-12">
                    <button type="submit" form="update-user-info-form" class="button ripple-effect big margin-top-30">Update Profile</button>
                </div>

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div id="test1" class="dashboard-box">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-lock"></i> Password</h3>
                        </div>

                        <form method="post" id="update-user-password-form" asp-action="ChangePassword" asp-controller="Profile">
                            <div class="content with-padding">
                                <div class="row">
                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Current Password</h5>
                                            <input asp-for="UserPasswordInputModel.CurrentPassword" type="password" class="with-border">
                                            <span asp-validation-for="UserPasswordInputModel.CurrentPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>New Password</h5>
                                            <input asp-for="UserPasswordInputModel.NewPassword" type="password" class="with-border">
                                            <span asp-validation-for="UserPasswordInputModel.NewPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="col-xl-4">
                                        <div class="submit-field">
                                            <h5>Repeat New Password</h5>
                                            <input asp-for="UserPasswordInputModel.RepeatNewPassword" type="password" class="with-border">
                                            <span asp-validation-for="UserPasswordInputModel.RepeatNewPassword" class="text-danger"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- Button -->
                <div class="col-xl-12">
                    <button type="submit" form="update-user-password-form" class="button ripple-effect big margin-top-30">Change Password</button>
                </div>
            </div>
            <!-- Row / End -->
            <partial name="SmallFooterPartial" />
        </div>
    </div>
</div>
