@using Jobzy.Web.ViewModels.Jobs
@model List<JobProposalsViewModel>


@{
    var CandidatesString = Model.Count == 1 ? $"{Model.Count} Candidate" : $"{Model.Count} Candidates";
    var jobTitle = Model.Select(x => x.JobTitle).First().ToString();
    var jobId = Model.Select(x => x.JobId).First().ToString();
    var freelancerId = "";
    var freelancerName = "";
}

    <div class="dashboard-container">
        <partial name="DashboardPartial" />

        <!-- Dashboard Content
            ================================================== -->
        <div class="dashboard-content-container" data-simplebar>
            <div class="dashboard-content-inner">

                <!-- Dashboard Headline -->
                <div class="dashboard-headline">
                    <h3>Manage Candidates</h3>
                    <span class="margin-top-7">Job Applications for <a asp-action="GetJob" asp-controller="Jobs" asp-route-id="@jobId">@jobTitle</a></span>

                    <!-- Breadcrumbs -->
                    <nav id="breadcrumbs" class="dark">
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">Dashboard</a></li>
                            <li>Manage Candidates</li>
                        </ul>
                    </nav>
                </div>

                <!-- Row -->
                <div class="row">

                    <!-- Dashboard Box -->
                    <div class="col-xl-12">
                        <div class="dashboard-box margin-top-0">

                            <!-- Headline -->
                            <div class="headline">
                                <h3><i class="icon-material-outline-supervisor-account"></i>@CandidatesString</h3>
                            </div>

                            <div class="content">
                                <ul class="dashboard-box-list">
                                    @foreach (var candidate in Model)
                                    {
                                        <li>
                                            <!-- Overview -->
                                            <div class="freelancer-overview manage-candidates">
                                                <div class="freelancer-overview-inner">

                                                    <!-- Avatar -->
                                                    <div class="freelancer-avatar">
                                                        <div class="verified-badge"></div>
                                                        <a href="#"><img src="~/images/user-avatar-big-03.jpg" alt=""></a>
                                                    </div>

                                                    <!-- Name -->
                                                    <div class="freelancer-name">
                                                        <h4><a href="#">@candidate.FreelancerName<img class="flag" src="~/images/flags/bg.svg" alt=""></a></h4>

                                                        <!-- Details -->
                                                        <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-mail"></i>@candidate.FreelancerEmail</a></span>
                                                        @*<span class="freelancer-detail-item"><i class="icon-feather-phone"></i> (+61) 123-456-789</span>*@

                                                        <!-- Rating -->
                                                        <div class="freelancer-rating">
                                                            <div class="star-rating" data-rating="@candidate.FreelancerRating"></div>
                                                        </div>

                                                        <!-- Buttons -->
                                                        <div class="buttons-to-right always-visible margin-top-25 margin-bottom-5">
                                                            <a href="#small-dialog" onclick="@(freelancerId = candidate.FreelancerId); @(freelancerName = candidate.FreelancerName);" class="popup-with-zoom-anim button green ripple-effect"><i class="icon-material-outline-check"></i>Approve Candidate</a>
                                                            <a href="#" class="button dark ripple-effect"><i class="icon-feather-mail"></i> Send Message</a>
                                                            <a href="#" class="button gray ripple-effect ico" title="Remove Candidate" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Row / End -->
            </div>
        </div>
        <!-- Dashboard Content / End -->
    </div>

    <!-- Send Direct Message Popup
    ================================================== -->
    <div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

        <!--Tabs -->
        <div class="sign-in-form">

            <ul class="popup-tabs-nav">
                <li><a href="#tab">Approve Candidate</a></li>
            </ul>

            <div class="popup-tabs-container">

                <!-- Tab -->
                <div class="popup-tab-content" id="tab">

                    <!-- Welcome Text -->
                    <div class="welcome-text">
                        <h3>Are you sure you want to work with <br /> @freelancerName?</h3>
                    </div>

                    <!-- Form -->
                    <form asp-action="ManageCandidates" asp-controller="Jobs" method="post" id="send-pm">
                        <input type="text" hidden name="jobId" value="@jobId" />
                        <input type="text" hidden name="freelancerId" value="@freelancerId" />
                    </form>

                    <!-- Button -->
                    <button class="button full-width button-sliding-icon ripple-effect" type="submit" form="send-pm">Yes, I'm sure! <i class="icon-material-outline-arrow-right-alt"></i></button>

                </div>

            </div>
        </div>
    </div>
    <!-- Send Direct Message Popup / End -->
