@using Jobzy.Common;

@model List<Jobzy.Web.ViewModels.Jobs.UserJobsListViewModel>


<!-- Dashboard Container -->
<div class="dashboard-container">
    <partial name="DashboardPartial" />

    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>My Jobs</h3>
            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-business-center"></i> My Job Listings</h3>
                        </div>

                        <div class="content">
                            <ul class="dashboard-box-list">
                                @foreach (var job in this.Model)
                                {
                                    <li>
                                        <!-- Job Listing -->
                                        <div class="job-listing">

                                            <!-- Job Listing Details -->
                                            <div class="job-listing-details">

                                                <!-- Details -->
                                                <div class="job-listing-description">

                                                    <h3 class="job-listing-title"><a asp-controller="Jobs" asp-action="Index" asp-route-id="@job.Id">@job.Title</a> <span class="dashboard-status-button @job.TagColor">@job.TagName</span></h3>

                                                    <!-- Job Listing Footer -->
                                                    <div class="job-listing-footer">
                                                        <ul>
                                                            <li><i class="icon-material-outline-date-range"></i>Posted on @job.DatePosted.ToLongDateString()</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        @if (job.Status == JobStatus.Open)
                                        {
                                            <!-- Buttons -->
                                            <div class="buttons-to-right always-visible">
                                                @if (job.OffersCount > 0)
                                                {
                                                    <a asp-action="All" asp-controller="Offers" asp-route-id="@job.Id" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Offers <span class="button-info">@job.OffersCount</span></a>
                                                }
                                                else
                                                {
                                                    <a class="button gray ripple-effect"><i class="icon-material-outline-supervisor-account"></i> No Offers</a>
                                                }
                                                <a href="#" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                                                <a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                                            </div>
                                        }
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row / End -->
        </div>
    </div>
    <!-- Dashboard Content / End -->
</div>
